body {
  font-family: "Roboto", "Helvetica", sans-serif;
  background: #EEEEEE;
}
.core-header {
  position: relative;
  bottom: -150px;
  margin-top: -150px;
  height: 150px;
  background-image: url(http://lh5.ggpht.com/6rLbkZWhGVPxAVCosBf3AMhEtiie5jUl9qAfOS0HV6bExLpNOmnwezZnAlHwDA=w9999-h9999);
  background-size: contain;
}
core-toolbar {
  margin: 14px 14px 100px;
  border-radius: 2px;
  background: #FFFFFF;
  color: #616161;
}
.logo {
  height: 25px;
  padding: 4px 0 0;
  opacity: 0.5;
}
// Cards
.item {
  box-sizing: border-box;
  padding: 4px;
  cursor: default;
  overflow: hidden;
}
.card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-bottom: 10px;
}
h3 {
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
}
